<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.co.payturn.omry.payturn">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".AddDebitActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DashboardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity" android:screenOrientation="portrait"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".DebtJobService" android:label="Debit Job Service" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".DebtService" android:label="Debit Service" android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".DebtReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationReceiver"/>
    </application>

</manifest>